@font-face {
    font-family: 'PT-Astra-Sans_Bold';
    src: url('/static/fonts/PT-Astra-Sans_Bold.ttf') format('truetype'); /* Прямой путь к шрифту */
    font-weight: bold;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'PT-Astra-Sans_Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe5d6;
}

.header {
    background-color: #ebe5d6;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
}

.header .phone {
    margin-left: 20px;
}

.header button {
    margin-left: 10px;
    padding: 15px 10px;
    background-color: #d20a11;
    color: white;
    border: none;
    cursor: pointer;
}

.header button:hover {
    background-color: red;
}

.content {
    flex: 1; /* Позволяет контенту занимать оставшееся пространство */
}

.footer {
    background-color: #163e6c;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: sticky;
    margin-top: 500px;
    font-family: 'PT-Astra-Sans_Bold', sans-serif;
}

.footer .phone {
    margin-top: 5px;
}
