.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.data-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Зебра для четных строк */
}

.data-table tr:hover {
    background-color: #f1f1f1; /* Подсветка строки при наведении */
}

@font-face {
    font-family: 'PT-Astra-Sans_Bold';
    src: url('/static/fonts/PT-Astra-Sans_Bold.ttf') format('truetype'); /* Прямой путь к шрифту */
    font-weight: bold;
    font-style: normal;
}
h1 {
    color: #163E6C;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

.button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #4682B4;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.data-table th, .data-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.data-table th {
    background-color: #007bff;
    color: white;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data-table tr:hover {
    background-color: #e9ecef;
}

.error-message {
    color: red;
    text-align: center;
    margin: 20px 0;
}