<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Проверьте комплектацию и технические характеристики техники Силант</h1>

    <div class="search-container">
        <form method="GET" action="{% url 'search_forklift' %}">
            <input type="text" name="serial_number" placeholder="Заводской номер" id="serial_number" required>
            <button type="submit">Поиск</button>
        </form>
    </div>

    {% if is_manager %}
            <div>
                <form action="{% url 'forklift_list' %}" method="get">
                    <button type="submit" class="button">Список машин</button>
                </form>
                <form action="{% url 'add_forklift' %}" method="get">
                    <button type="submit" class="button">Добавить машину</button>
                </form>
            </div>
        {% endif %}
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    {% if forklift %}
        <h2>Данные о погрузчике:</h2>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Заводской номер</th>
                    <th>Модель</th>
                    <th>Модель двигателя</th>
                    <th>Зав. № двигателя</th>
                    <th>Модель трансмиссии</th>
                    <th>Зав. № трансмиссии</th>
                    <th>Модель ведущего моста</th>
                    <th>Зав. № ведущего моста</th>
                    <th>Модель управляемого моста</th>
                    <th>Зав. № управляемого моста</th>
                    <th>Дата отгрузки с завода</th>
                    <th>Грузополучатель</th>
                    <th>Адрес поставки</th>
                    <th>Комплектация</th>
                    <th>Клиент</th>
                    <th>Сервисная компания</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ forklift.serial_number }}</td>
                    <td>{{ forklift.model }}</td>
                    <td>{{ forklift.engine_model }}</td>
                    <td>{{ forklift.engine_serial_number }}</td>
                    <td>{{ forklift.transmission_model }}</td>
                    <td>{{ forklift.transmission_serial_number }}</td>
                    <td>{{ forklift.drive_bridge_model }}</td>
                    <td>{{ forklift.drive_bridge_serial_number }}</td>
                    <td>{{ forklift.controlled_bridge_model }}</td>
                    <td>{{ forklift.controlled_bridge_serial_number }}</td>
                    <td>{{ forklift.shipment_date }}</td>
                    <td>{{ forklift.consignee }}</td>
                    <td>{{ forklift.delivery_address }}</td>
                    <td>{{ forklift.configuration }}</td>
                    <td>{{ forklift.client }}</td>
                    <td>{{ forklift.service_company }}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <a href="{% url 'add_technical_service' forklift.id %}">
                <button class="button">Добавить ТО</button>
            </a>  <!-- Кнопка для добавления ТО -->
        </div>

        {% if technical_services %}
            <h2>Данные о техническом обслуживании:</h2>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Вид ТО</th>
                        <th>Дата проведения ТО</th>
                        <th>Наработка, м/час</th>
                        <th>№ заказ-наряда</th>
                        <th>Дата заказ-наряда</th>
                        <th>Организация, проводившая ТО</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in technical_services %}
                    <tr>
                        <td>{{ service.service_type }}</td>
                        <td>{{ service.maintenance_date }}</td>
                        <td>{{ service.operating_hours }}</td>
                        <td>{{ service.order_number }}</td>
                        <td>{{ service.order_date }}</td>
                        <td>{{ service.organization }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Нет данных о техническом обслуживании для этого погрузчика.</p>
        {% endif %}

        {% if can_add_complaint %}
            <div>
                <form action="{% url 'add_complaint' forklift.id %}" method="get">
                    <button type="submit" class="button">Добавить рекламацию</button>
                </form>
            </div>
        {% endif %}

        {% if complaints %}
            <h2>Данные о рекламациях:</h2>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Дата отказа</th>
                        <th>Наработка, м/час</th>
                        <th>Узел отказа</th>
                        <th>Описание отказа</th>
                        <th>Способ восстановления</th>
                        <th>Используемые запасные части</th>
                        <th>Дата восстановления</th>
                        <th>Время простоя техники</th>
                    </tr>
                </thead>
                <tbody>
                    {% for complaint in complaints %}
                    <tr>
                        <td>{{ complaint.failure_date }}</td>
                        <td>{{ complaint.operating_hours }}</td>
                        <td>{{ complaint.failure_node }}</td>
                        <td>{{ complaint.failure_description }}</td>
                        <td>{{ complaint.recovery_method }}</td>
                        <td>{{ complaint.used_parts }}</td>
                        <td>{{ complaint.recovery_date }}</td>
                        <td>{{ complaint.downtime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Нет данных о рекламациях для этого погрузчика.</p>
        {% endif %}
    {% endif %}
{% endblock %}